hw1/codes/data/*
hw1/codes/__pycache__
hw1/codes/*.txt
hw2/codes/cifar-10_data
hw2/*/*/__pycache__
hw3/codes/__pycache__
hw3/codes/pretrain
hw3/codes/train/*
hw3/codes/*.txt
hw3/codes/logs
hw3/codes/ds_run_results
!hw3/codes/output.txt
*/qcReport.pdf

hw4/ghaReport.pdf
hw4/codes/GAN/__pycache__
hw4/codes/data
hw4/code4/inception
project/*